
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron bg-danger">

    <h2 class="display-3" style="color:white">
        <center><b>Burger Consumption Chart</b></center>
    </h2>
</div>

@Html.Raw((String)ViewBag.Output)