
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron bg-danger">

    <center>
        <h2 class="display-3" style="color:white">
            <b>Burger Consumption Chart</b>
        </h2>
    </center>
</div>

@Html.Raw((String)ViewBag.Output)